.SepTitle-container {
  margin: 10px 0 10px 0;

  width: 100%;
}

.SepTitle-text {
  padding: 0 0 0 10px;

  color: #fff;
  font-size: 56px;
  font-family: "DontStarveFont";
  font-style: normal;
  line-height: 85%;
  font-weight: 400;
}

.SepTitle-separator {
  height: 3px;
  width: 100%;
  background: rgba(97, 95, 95, 0.5);
}

@media (max-width: 880px) {
  .SepTitle-container {
    margin: 8px 0 8px 0;
  }

  .SepTitle-text {
    font-size: 44px;
  }
}

@media (max-width: 550px) {
  .SepTitle-container {
    margin: 5px 0 5px 0;
  }
  .SepTitle-text {
    font-size: 32px;
  }
}
