.SearchCard-container {
  max-width: 375px;
  max-height: 375px;
  filter: brightness(65%);
  margin: 10px 10px 10px 10px;
}

.SearchCard-container:hover {
  filter: brightness(100%);
  transform: translateY(-5px);
}

.SearchCard-img {
  width: 100%;
}

@media (max-width: 880px) {
  .SearchCard-container {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 550px) {
  .SearchCard-container {
    max-width: 250px;
    max-height: 250px;
  }
}
