.SearchCard-container {
  max-width: 300px;
  max-height: 300px;
  margin: 10px 10px 10px 10px;
}

.SearchCard-img {
  width: 100%;
  filter: brightness(90%);
}

.Search-img:hover {
  filter: brightness(100%);
  transform: translateY(-5px);
}
