.CharacterGallery-container {
  margin: 20px 0 20px 0;
  width: 85%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}

.Gallery-img {
  width: 100%;
}

@media (max-width: 880px) {
  .CharacterGallery-container {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .CharacterGallery-container {
    width: 95%;
  }
}
