.LangBtn {
  margin: 0 0 0 20px;
  width: 45px;
  height: 45px;

  font-size: 0;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(34, 60, 80, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.LangBtn-en {
  background-image: url("../../../assets/images/LangBtn/en.png");
}

.LangBtn-ru {
  background-image: url("../../../assets/images/LangBtn/ru.png");
}

.LangBtn:hover {
  cursor: pointer;
  text-shadow: 0px 0px 12px #fff;
}

.LangBtn:active {
  cursor: pointer;
  transform: translateY(2px);
}

@media (max-width: 1320px) {
  .LangBtn {
    margin: 8px 0 0 15px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1100px) {
  .LangBtn {
    margin: 6px 0 0 12px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 820px) {
  .LangBtn {
    margin: 0 0 0 10px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  .LangBtn {
    margin: 0 0 0 5px;
    width: 22px;
    height: 20px;
  }
}
