.DeveloperCard-container {
  margin: 20px 0 20px 0;

  width: 100%;

  display: flex;
  justify-content: center;

  font-size: 56px;
  line-height: 180%;
}

.DeveloperCard-container:hover {
  transform: translate(-5px);
}

.DeveloperCard-img {
  margin: 0 20px 0 0;

  width: 100%;
  max-width: 100px;
  max-height: 100px;

  border: 8px solid rgba(137, 77, 21, 0.8);
  border-radius: 50%;
}

@media (max-width: 880px) {
  .DeveloperCard-img {
    max-width: 65px;
    max-height: 65px;
    border: 5px solid rgba(137, 77, 21, 0.8);
  }

  .DeveloperCard-container {
    font-size: 46px;
    line-height: 180%;
  }
}

@media (max-width: 550px) {
  .DeveloperCard-img {
    max-width: 50px;
    max-height: 50px;
    border: 3px solid rgba(137, 77, 21, 0.8);
  }

  .DeveloperCard-container {
    font-size: 22px;
    line-height: 190%;
  }
}
