.CharacterTips-container {
  margin: 20px 0 20px 0;

  width: 85%;

  display: flex;
  flex-direction: column;
  align-self: center;
}

.CharacterTips-list {
  width: 95%;
  margin: auto;
  font-family: "DontStarveFont";
  font-style: normal;
  font-weight: 400;
  color: #683f0e;
  font-size: 36px;
}

@media (max-width: 880px) {
  .CharacterTips-container {
    padding: 15px 0 15px 15px;
    width: 90%;
  }
  .CharacterTips-list {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .CharacterTips-container {
    margin: 10px 0 10px 0;
    width: 95%;
  }
  .CharacterTips-list {
    font-size: 26px;
  }
}
