#root {
  width: 85%;
  max-width: 1280px;
  min-width: 375px;

  display: flex;
  flex-direction: column;
  align-self: center;
}

.main-container {
  width: 100%;
  max-width: 1280px;
  min-width: 375px;

  display: flex;
  flex-direction: column;

  background: rgba(167, 150, 116, 0.98);
}
