.DailyCharacter-container {
  width: 80%;
  margin: 40px 0 25px 0;

  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}

.DCImage-container {
  display: flex;
  flex-direction: column;
}

.DCImage {
  width: 100%;
  filter: brightness(90%);
}

.DCImage:hover {
  transform: translateY(-5px);
  filter: brightness(100%);
}

.DailyCharacter-desc-container {
  width: 100%;

  display: flex;
}

.DailyCharacter-desc {
  width: 100%;
  margin: 0 0 0 40px;

  text-align: center;
  font-family: "DontStarveFont";
  font-style: normal;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.DCName {
  color: #e0ffff;

  font-size: 56px;
  align-self: center;
  line-height: 120%;
  align-self: center;
}

.DCPhrase {
  align-self: center;
  font-size: 48px;
  line-height: 100%;
  align-self: center;
}

.DCDesc {
  width: 100%;

  color: #fff;
  align-self: center;
  font-size: 28px;
  align-self: center;
}

.DCSkins {
  margin: 20px 0 0 0;

  width: 100%;
}

.DCVideo {
  margin: 40px 0 40px 0;

  width: 100%;
  align-self: center;
}

@media (max-width: 940px) {
  .DailyCharacter-container {
    width: 90%;
  }

  .DailyCharacter-desc-container {
    flex-direction: column;
  }

  .DCImage-container {
    max-width: 300px;
    align-self: center;
  }

  .DailyCharacter-desc {
    margin: 0 0 0 0;
  }
}

@media (max-width: 550px) {
  .DailyCharacter-container {
    width: 95%;
  }

  .DailyCharacter-desc-container {
    flex-direction: column;
  }

  .DailyCharacter-desc {
    margin: 0 0 0 0;
  }

  .DCVideo {
    margin: 20px 0 20px 0;
    width: 100%;
  }
}
